body::before {
  display: block;
  content: "";
  height: 50px;
}

.Logo {
  font-size: 5em;
}

section {
  scroll-margin-top: 3em;
}

@media (min-width: 768px) {
  .mail-input {
    width: 50%;
  }
}
